---
const { title, description, icon } = Astro.props;
---

<div class="service-card">
  <div class="service-icon">
    <img src={icon} alt={title} loading="lazy" />
  </div>
  <h3 class="service-title">{title}</h3>
  <!-- <p class="service-description">{description}</p> -->
  <div class="service-description" set:html={description} />
</div>
